{% extends 'base.html.twig' %}

{% block main %}
    <div class="lenguajesProg">
        <div class="cards">
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{asset('images/logos/CSS-Logo-PNG.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="button-48" href="#" role="button"><span class="text">Go somewhere</span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}