{% extends 'base.html.twig' %}

{% block main %}
    <div class="lenguajesProg">
        <div class="cards">
            {% for resultado in resultados %}
                <div class="card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="{{asset("uploads/images/"~resultado.imagen)}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{resultado.titulo}}</h5>
                        <p class="card-text">{{resultado.descripcion}}</p><span>...</span>
                        <a class="button-48" href="{{path('app_lenguajesexpe',{"id" :resultado.id})}}" role="button" style="background:{{resultado.color}}"><span class="text">ver...</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}